*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.background{
    background-color: rgb(34, 33, 33);
    width: 100%;
    height: 100%;
    color: white;
 }

.page.one h1{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 70px;
}

.page.one p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    padding-top: 25px;
}

.input-box{
    padding: 10px;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.submit-box{
    padding: 10px;
    justify-items: center;
    display: grid;
    align-items: center;
    margin-left: 20px;
}

.submit-box a{
    padding-top: 10px;
}

.remember{
    justify-items: center;
    display: grid;
    align-items: center
}

.wrapper{
    display: grid;
    justify-content: center;
    padding-top: 200px;
}

